<launch>
  <node respawn="true" pkg="joy" type="joy_node" name="joystick_monitor">
    <param name="dev" type="string" value="/dev/input/js2" />
    <param name="deadzone" value="0.2"/>
  </node>

  <param name="axis_linear" value="1" type="int"/>
  <param name="axis_angular" value="0" type="int"/>
  <param name="scale_linear" value="0.5" type="double"/>
  <param name="scale_angular" value="-1.0" type="double"/>

  <node pkg="joy_teleop" type="joy_teleop_node" name="teleop"/>

</launch>
